* {
  box-sizing: border-box;
}
html {
  color-scheme: dark light;
}

button {
  outline: none;
  border: none;
  background-color: rgba(0,0,0,0);
  width: max-content;
  max-width: 100%;
}
button:not(:disabled) {
  cursor: pointer;
}
.btn {
  display: inline-block;
  font-size: 1.5rem;
}
.btn-primary {
  padding: .4em 1em;
  background-color: hsla(16, 100%, 66%, 100%);
  transition: .4s;
}
.btn-primary:hover {
  background-color: hsla(16, 100%, 66%, 80%);
}
.mainContainer {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
